body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.card {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}

li {
  margin-top: 10px;
}